.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  max-width: 500px;
  background-color: white;
  text-align: left;
  padding: 2rem;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.close {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #ff0000;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1259a5;
}
